.header{
    background-color: black;
    text-align: center;
    padding: 20px 0;
}
.header >a{
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.header >a:hover{
    color: violet;
}